<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<!-- mapper接口不能重载 -->
<mapper namespace="cn.edu.ujn.shortvideo.mapper.CommentsMapper">

    <select id="selectCommentsByPage" resultType="cn.edu.ujn.shortvideo.entities.dox.Comments">
        SELECT * FROM comments
        WHERE video_id = #{videoId}
        ORDER BY created_at DESC
        LIMIT #{offset}, #{size}
    </select>

</mapper>